.time {
  width: 50px;
  font-weight: 500;
  white-space: nowrap;
  background: #fafafa;
  border-right: 1px solid #eee;
  text-align: center;
}

.info {
  width: auto;
}

.subject {
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 1.3;
  word-break: break-word;
}

.groups {
  color: #444;
  margin-bottom: 2px;
  line-height: 1.3;
  word-break: break-word;
}